.fullContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #003f7f;
  z-index: 100;
}

.contentContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 10vh); /* Full height minus header */
  margin-top: 10vh; /* Push content under fixed header */
  overflow: hidden;
}

.lateralNavbarContainer {
  width: 15%;
  min-width: 200px;
  max-width: 250px;
  background-color: #f8f9fa;
  overflow-y: none;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.filterContainer {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  width: 65em;
}

.welcomeContainer {
  width: 100%; /* Ensure it takes the full width */
  text-align: left; /* Align the text inside to the left */
  align-self: flex-start; /* Align this specific container to the start (left) */
}

.welcomeText {
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .lateralNavbarContainer {
    display: none;
  }

  .filterContainer {
    flex-direction: column;
  }
}
